@page "./OMS"

<div class="topnav">
    <a href="./OMS/Manage">OMS</a>
    <a href="./OMS/SalesReportsOverview">Sales Reports</a>
    <a href="./OMS/Stock">Stock</a>
</div>

<PageTitle>Order Management System</PageTitle>

<h3 class="mt-4">Please select a component!</h3>